<h1>
  Route #<%= @route.id %> Forecast
  <a class="btn btn-primary" role="button" href="/routes/<%= @route.id %>/edit">
    Edit
  </a>
  
  <a class="btn btn-danger" role="button" href="/delete_route/<%= @route.id %>">
    Delete
  </a>
</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col" class="text-left">
        Start
      </th>
      <th scope="col" class="text-center">
        Duration
      </th>
      <th scope="col" class="text-right">
        End
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-left">
        <a href="/locations/<%= @route.start_id %>">
          <%= Location.find(@route.start_id).name %>
        </a>
        <br> 
        <%= @parsed_route_data.dig("routes", 0, "legs", 0, "start_address") %>
      </td>
      <td class="text-center">
        <%= @parsed_route_data.dig("routes", 0, "legs", 0, "duration", "text") %>
      </td>
      <td class="text-right">
        <a href="/locations/<%= @route.end_id %>">
          <%= Location.find(@route.end_id).name %>
        </a>
        <br>
        <%= @parsed_route_data.dig("routes", 0, "legs", 0, "end_address") %>
      </td>
    </tr>
  </tbody>
</table>

<hr>

<table class="table">
  <thead>
    <tr>
      <th scope="col">
        <%= Location.find(@route.start_id).name %>
      </th>
      <% for i in 0..@columns do %>
        <th scope="col" class="text-center">
          <%= Time.at(i*15*60).utc.strftime("%H:%M")  %>
        </th>
      <% end %>
      <th scope="col" class="text-right">
        <%= Location.find(@route.end_id).name %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% for i in 0..(48-@duration/3600).to_i do %>
      <tr>
        <td>
          <%= Time.at(@weather[0][i].dig("time")).in_time_zone(@parsed_weather_data.dig('timezone')).strftime("%I:%M%p") %>
        </td class="text-center">
        <% for j in 0..@columns do %>
            <% if @weather[j][(i+j/4).to_i].dig("precipProbability") > 0.75 %>
              <td class="table-danger">
              </td>
            <% elsif @weather[j][(i+j/4).to_i].dig("precipProbability") > 0.5 %>
              <td class="table-warning">
              </td>
            <% elsif @weather[j][(i+j/4).to_i].dig("precipProbability") > 0.25 %>
              <td class="table-primary">
              </td>
            <% else %>
              <td>
              </td>
            <% end %>
          <% end %>
        <td class="text-right">
          <%= Time.at(@weather[0][i].dig("time")+@duration).in_time_zone(@parsed_weather_data.dig('timezone')).strftime("%I:%M%p") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<a href="/routes">
  Go back
</a>
